<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.or.dgit.ncs_erp.dao.EmployeeMapper">
   
	<resultMap type="Employee" id="EmployeeResult">
    	<id property="no" column="eno"/>
    	<result property="name" column="ename"/>
    	<result property="salary" column="salary"/>
    	<result property="sex" column="gender"/>
    	<result property="eJoinDate" column="joindate"/>
    	<association property="eTitle" resultMap="kr.or.dgit.ncs_erp.dao.TitleMapper.TitleResult"/>
    	<association property="eDepartment" resultMap="kr.or.dgit.ncs_erp.dao.DepartmentMapper.DepartmentResult"/>
    </resultMap>
    
	
    <sql id="selectSQL">
		SELECT DISTINCT e.eno, e.ename, e.salary, t.tname, d.dname, e.gender, e.joindate
          FROM employee e
         JOIN title t ON e.title = t.tcode
         JOIN department d ON e.dno = d.dcode
	</sql>
	
	    
   
    <select id="selectEmployeeByAll" resultMap="EmployeeResult">
    	<include refid="selectSQL" />
    		order by eno;
    </select>
    <select id="selectByNo" parameterType="Employee" resultMap="EmployeeResult">
		<include refid="selectSQL"/>
		where eno=#{no}
	</select>
    
    <insert id="insertEmployeeItem" parameterType="Employee">
		INSERT INTO employee (eno, ename, salary, dno,gender,joindate,title)
		VALUES (#{no},#{name},#{salary},#{department.no},#{sex},#{eJoinDate},#{title.no})
	</insert>
	
	
	<update id="updateEmployeeItem" parameterType="Employee">
		UPDATE employee
		SET ename=#{name} , salary=#{salary}, dno=#{department.no},gender=#{sex},joindate=#{eJoinDate},title=#{title.no}
		WHERE eno=#{no}
	</update>
	
	<delete id="deleteEmployeeItem" parameterType="Employee">
		delete from employee where  eno=#{no}
	</delete>
    
   	
	
	
    
</mapper>